<div class="container">
  
  <div class="form" [hidden]="submitted">

    <div class="header">
      Checkout form
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="upper-section">
      <input type="text" class="first-name icon"
             [(ngModel)]="model.firstName" name="firstName" placeholder="First Name" required>
      <input type="text" class="last-name icon"
             [(ngModel)]="model.lastName" name="lastName" placeholder="Last name" required>
      <input type="text" class="email icon"
             [(ngModel)]="model.email" name="email" placeholder="E-mail" required>
      <input type="text" class="phone icon"
             [(ngModel)]="model.phone" name="phone" placeholder="Phone" required>
      </div>

      <div class="lower-section">
        <select class="country" [(ngModel)]="model.country" name="country" required>
          <option value="" disabled>Country</option>
          <option value="uk">United Kingdom</option>
          <option value="europe">Europe</option>
          <option value="usa">USA</option>
          <option value="china">China</option>
        </select>
        <input type="text" class="city"
               [(ngModel)]="model.city" name="city" placeholder="City" required>
        <input type="text" class="postcode"
               [(ngModel)]="model.postCode" name="postCode" placeholder="Post code" required>
        <input type="text" class="address"
              [(ngModel)]="model.address" name="address" placeholder="Address" required>
        <input type="text" class="additional"
               [(ngModel)]="model.additionalInfo" name="additionalInfo" placeholder="Additional info">
        <button type="submit" class="submit" >Submit</button>
      </div>
    </form>
  </div>

  <div class="form" [hidden]="!submitted">
    <div class="header">
    You submitted the following information
    </div>
    
    <div class="upper-section">
      <div id="display-content">Name: {{ model.firstName }} {{model.lastName}}</div>
      <div id="display-content">E-mail: {{ model.email }}</div>
      <div id="display-content">Phone: {{ model.phone }}</div>
    </div>

    <div class="lower-section">
      <div id="display-content">Address: {{ model.address }}, {{ model.city }}, {{ model.postCode }}, {{ model.country}}</div>
      <div id="display-content">Additional info: {{ model.additionalInfo }}</div>
    
      <br>
      <button class="submit" (click)="submitted=false">back</button>
    </div>
  </div>

</div>